<h1 class="title">{{ 'game.main.roulette.villain.victory' | translate }}</h1>
<p class="respin-reason">{{ (retries > 0) ? (currentItem.text | translate) + " x" + retries : "" }}</p>
<app-wheel
    #wheel
    [items]="victoryOdds"
    (selectedItemEvent)="onItemSelected($event)">
</app-wheel>

<ng-template #villainPresentationModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.villain.against' | translate }} {{ currentVillain.name | translate }} !</h1>
        <div class="villain-panel">
            <img [src]="currentVillain.sprite" alt="{{ currentVillain.name }}" height="160">
            <div class="quotes">
                @for (quote of currentVillain.quotes; track $index) {
                    <p>{{ quote | translate }}</p>
                }
                <p class="warning">{{ 'game.main.roulette.villain.warning' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.roulette.villain.go' | translate }}</button>
    </div>
</ng-template>

<ng-template #itemUsedModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.villain.use' | translate }} {{ currentItem.text | translate }} !</h1>
        <div class="item-panel">
            <img [src]="currentItem.sprite" height="128">
            <div class="quotes">
                <p>{{ currentItem.description | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>
